<div class="carrucel_container">
  <h2 class="Clientes">Nuestos Clientes:</h2>
  <div class="dynamic-card">
      <div class="dynamic-content">
          <h3 id="dynamic-title">Selecciona un cliente</h3>
          <p id="dynamic-description">Los detalles aparecerán aquí.</p>
      </div>
  </div>
  <div class="slider-wrapper">
      <div class="card-list">
          <div class="card-item">
              <img src="/img/Clientes/C_BINOME_TOWNHOUSES.jpg" alt="" class="client-image"/>
              <h3 class="client_name">BINOME TOWN HOUSES</h3>
              <p class="review">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          </div>
          <div class="card-item">
              <img src="/img/Clientes/C_CONDOMINIO_PALMAS.webp" alt="" class="client-image"/>
              <h3 class="client_name">CONDOMINIO LAS PALMAS</h3>
              <p class="review">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          </div>
          <div class="card-item">
              <img src="/img/Clientes/C_RESIDENCIAL_GRAND.jpg" alt="" class="client-image"/>
              <h3 class="client_name">RESIDENCIAL GRAND</h3>
              <p class="review">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          </div>
          <div class="card-item">
              <img src="/img/Clientes/C_RESIDENCIAL_LAGUNA_MAYRAN.jpeg" alt="" class="client-image"/>
              <h3 class="client_name">rESIDENCIAL LAGUNA MAYRAN</h3>
              <p class="review">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          </div>
          <div class="card-item">
              <img src="/img/Clientes/C_RESIDENCIAL_ROMANZA.webp" alt="" class="client-image"/>
              <h3 class="client_name">RESIDENCIAL ROMANZA</h3>
              <p class="review">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          </div>
          <div class="card-item">
              <img src="/img/Clientes/C_RESIDENCIAL_VILLAS_DEL_LAGO.jpg" alt="" class="client-image"/>
              <h3 class="client_name">RESIDENCIAL VILLAS DEL LAGO</h3>
              <p class="review">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
          </div>
      </div>
  </div>
</div>