<header class="header">
  <a href="#"><img class="logo" src="/public/img/logoLimanprofnprofSB.png" alt="Logo de Limanprofnprof"></a>
  <input type="checkbox" id="check">

  <label for="check" class="icons">
      <i class='bx bx-menu' id="menu-icon"><ion-icon name="menu-outline"></ion-icon></i>
      <i class='bx bx-x' id="close-icon"><svg xmlns="http://www.w3.org/2000/svg" height="24px"
              viewBox="0 -960 960 960" width="24px" fill="#000000">
              <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
          </svg></i>
  </label>
  <nav class="menu">
      <a href="index.php" style="--i:0;">Inicio</a>
      <a href="Nosotros.php" style="--i:1;">Nosotros</a>
      <!-- Submenu Servicios -->
      <div class="menu-item">
          <a href="#" style="--i:2;">Servicios ▼</a>
          <div class="submenu">
              <a href="limpieza.php" style="--i:3;">Limpieza</a>
              <a href="jardineria.php" style="--i:4;">Jardinería</a>
              <a href="mantenimiento.php" style="--i:5;">Mantenimiento</a>
              <a href="especializado.php" style="--i:6;">Especializado</a>
          </div>
      </div>
      <a href="contacto.php" style="--i:3;">Contacto</a>
      <a href="login.php" style="--i:4;">Iniciar sesión</a>
  </nav>

</header>
