<main>
  <h1 class="title">¿Quiénes Somos?</h1>

  <h3 class="text">
      LimanprofNPROF S.A. de C.V. Es una empresa mexicana creada y fundada recientemente con un grupo de colaboradores con más de diez años de experiencia en limpieza.
      Preocupados por la problemática constante de dicha actividad y a su vez poder agilizar dichos procesos de servicio de manera óptima.
      Encontrarán un respaldo de mayor confianza y profesionalismo en cuanto a limpieza residencial, mantenimiento de inmuebles, jardinería, así como costos competitivos en la venta de productos y materiales.
  </h3>
  <div class="contenedor">
      <div class="cuadro">
          <h2 class="titulo">Misión</h2>
          <p class="descripcion">
              Satisfacer y exceder las expectativas de nuestros clientes brindándoles servicios de limpieza y mantenimiento integral, así como materiales de calidad. Creamos un ambiente de colaboración que se refleja en la excelencia de nuestros servicios.
          </p>
      </div>

      <div class="cuadro">
          <h2 class="titulo">Visión</h2>
          <p class="descripcion">
              Ser un grupo sólido e innovador, estableciéndonos como la empresa líder en la provisión de servicios estratégicos, con plena satisfacción de nuestros clientes y amplio desarrollo de nuestros colaboradores.
          </p>
      </div>

      <div class="cuadro">
          <h2 class="titulo">Objetivos</h2>
          <p class="descripcion">
              Trabajar en equipo para crear espacios limpios y agradables, respetando y cuidando el medio ambiente. Desarrollamos planes de trabajo personalizados, ofreciendo servicios y materiales accesibles y de calidad, adaptados a los requerimientos de nuestros clientes.
          </p>
      </div>
  </div>


  <h3 class="subtitle">Contacto</h3>
  <h3 class="text"><strong>Dirección:</strong> C. de Preciados, México</h3>
  <h3 class="text"><strong>Teléfono:</strong> 554039764</h3>
  <h3 class="text"><strong>Email:</strong> direccion@Limanprofnprof.com</h3>
  
</main>